# Expressions, Operators, Control statements

# Operators
- Arithmetic (+, -, *, /, //, %)
- Relational (<, >, <=, >=, !=, ==)
- Shift (>>, <<)
- Assignment (=)
- Logical (and, or, not)
- Bitwise (&, |, !)
- 'in' and 'not in' operator

# << and >>

if n=8 (1000 in binary), n>>1 will give 100 after shifting bits by 1 place to right. 
                         n<<1 will give 10000 after shifting bits by 1 place to left.

In [0]:
n=9
print(n,'binary',format(n,'b'))
print(n,'* 2=',n<<1, format(n<<1,'b'))
print(n,'/ 2=',n>>1,format(n>>1,'b'))

9 binary 1001
9 * 2= 18 10010
9 / 2= 4 100

In [0]:
# logical
x = True
y = False
print('x and y is',x and y) # Output: x and y is False
print('x or y is',x or y) # Output: x or y is True
print('not x is',not x) # Output: not x is False

In [0]:
# bitwise
x=12 
y=4 
print(x & y) 
print(x | y)
print(x ^ y)

4
12
8

In [0]:
# in and not in

x = 'Hello world'
print('H' in x)    # Output: True
print('h' not in x)   # Output: True

In [0]:
# perform operations on complex numbers

import cmath
a=complex(20+5j)
b=complex(5+3j)
print('a+b',a+b)
print('a-b',a-b)
print('a*b',a*b)
print('a/b',a/b)

a+b (25+8j)
a-b (15+2j)
a*b (85+85j)
a/b (3.3823529411764706-1.0294117647058825j)

### Task1 Write a program in python to calculate area of triangle when all three sides are given.
- s=(a+b+c)/2
- area =  âˆš(s(s-a)(s-b)(s-c) )

In [0]:
# write your code after this line
import math
length=int(input("Enter lenght of triangle"))
breadth=int(input("Enter Breadth of triangle"))
height=int(input("Enter height of triangle"))
s=(length+breadth+height)/2
area=(s*(s-height)*(s-length)*(s-breadth))
areaf=math.sqrt(area)
print(areaf)

Enter lenght of triangle6
Enter Breadth of triangle7
Enter height of triangle4
11.976539567003485

# Control Statements

### Decisions (if-else)

# simple if-else
if(cond):
    stmt
else:
    stmt

# if-else-if
if(cond):
    stmt
elif(cond):
    stmt
    .
    .
    .
else: 
    stmt

# nested if-else
                            if(cond):
                                stmt
                                if(cond):
                                    stmt1
                            else:
                                if(cond):
                                    stmt3
                                else:
                                    stmt4

### Task2: Write a proram that accept a lowercase/uppercase character from the user and check whether the character is a vowel or consonant.

In [0]:
# write your code after this line
ch=input("Enter a letter ")
if(ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u' or ch == 'A'
       or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U'):
  print("Character entered is Vowel ")
else:
  print("Character is consonant ")

Enter a letter a
Character entered is Vowel

### Task3: Write a program to check whether given character is a digit or a character in lowercase or uppercase alphabet. Hint: ASCII value of digit is between 48 to 58 and Lowercase characters in the range of 97 to122, uppercase is between 65 and 90).

In [3]:
# write your code after this line
ch=input("Enter")
if ch.isupper():
  print("Upper case letter")
else:
  print("Lower case")

Entera
Lower case

### Repetition or loop
- while loop
- for loop

#### While loop

initialization of loop variable
while( condition ):
    stmt 1
    stmt 2
    ...
    update loop variable

##### Task 4: Write a program in Python to print table of any number 'n' provided by user using while loop.

In [0]:
# write your code after this line
n=int(input("Enter a number"))
i=1
while(i<=10):
  print(f"{n}x{i}={n*i}")
  i+=1

Enter a number5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

##### Task 5: Write a program in Python to evaluate the following series using while loop:
    
    1! + 2! + 3! + 4! ...+ n!
hint: use math.factorial(n) function to calculate factorial of number n.

In [0]:
# write your code after this line
import math
n=int(input("Enter a number"))
print(math.factorial(n))

Enter a number5
120

##### Task 6: Write a program in Python to enter the numbers till the user wants and at the end it should display the maximum number entered using while loop.

In [9]:
# write your code after this line
t=int(input("Enter the count of numbers you want to enter"))
n=1
a=[]
while(n<=t):
  en=int(input("Enter a number"))
  a.append(en)
  n=n+1
print(max(a))

Enter the count of numbers you want to enter7
Enter a number7
Enter a number8
Enter a number44
Enter a number5
Enter a number2
Enter a number66
Enter a number4
66

### for loop

for iterable_var_name in range(terminating_value):
    stmt 1
    stmt 2
    ...
    
 for iterable_var_name in range(initial_value,terminating_value):
    stmt 1
    stmt 2
    ...
    
 for iterable_var_name in range(initial_value,terminating_value,updation):
    stmt 1
    stmt 2
    ...

In [0]:
# factorial
n=int(input('Enter a number '))
fact=1
for i in range(n,1,-1):
    fact=fact*i
print(n,'! =',fact)

##### Task 7:Write a program in Python to print all numbers from 0 to 9 except 3 and 6 using a for loop.

In [11]:
# write your code after this line
a=[3,6]
for i in range(10):
  if i not in a:
    print(i)

0
1
2
4
5
7
8
9

#### 2 Write a program in Python to get 10 numbers from user using a for loop. The program should print the count of positive numbers, negative numbers and zeroes entered by the user.

In [14]:
l=[]
pos=0
neg=0
zer=0
for i in range(10):
  a=int(input("Enter a number"))
  if a>0:
    pos+=1
  if a<0:
    neg+=1
  if a==0:
    zer+=1
print("Positives are {0} Negatives are {1} Zeroes are {2}".format(pos,neg,zer))

Enter a number4
Enter a number5
Enter a number6
Enter a number0
Enter a number-1
Enter a number-8
Enter a number-7
Enter a number0
Enter a number5
Enter a number6
Positives are 5 Negatives are 3 Zeroes are 2